@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --sidebar-bg: #f2f3f3;
  --border: #e2e2e2;
  --secondary: #5c5c5c;
  --primary: #3498db;
}



@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
}

@layer base {
  body {
    @apply antialiased bg-background text-foreground transition-colors duration-300;
  }
}