/*
  Custom Variables for Sehoon's Blog
  Uncomment/Change these values to customize the design.
*/

/* Colors */
// $background-color: #ffffff;
// $text-color:       #333333;
// $primary-color:    #6ab0de; /* Link color */

/* Typography */
// $base-font-weight: normal;
// $bold-font-weight: 700;

/* Code Blocks */
// $code-background-color: #fafafa;
// $code-text-color:       #333333;
